Repository Hasnep/website: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, mypy, prettier, taplo

.pre-commit-config.yaml:

repos:
  # General checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - name: Prevent committing to main
        id: no-commit-to-branch
        args: [--branch, main]
      - name: Make sure files end with a newline character
        id: end-of-file-fixer
      - name: Remove trailing whitespace
        id: trailing-whitespace
      - name: Check for files that would conflict on case-insensitive filesystem
        id: check-case-conflict
      - name: Check for merge conflicts
        id: check-merge-conflict
      - name: Check executable files have a shebang
        id: check-executables-have-shebangs
      - name: Check scripts with a shebang are executable
        id: check-shebang-scripts-are-executable
      - name: Don't allow adding large files
        id: check-added-large-files

  # Python
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - name: Validate Python
        id: check-ast
  - repo: local
    hooks:
      - name: Format Python files
        id: ruff-format
        language: system
        entry: ruff format
        types: [python]
  - repo: local
    hooks:
      - name: Lint Python files
        id: ruff
        language: system
        entry: ruff check --fix
        types: [python]
  - repo: local
    hooks:
      - name: Type-check Python files
        id: mypy
        language: system
        entry: mypy
        types: [python]

  # SCSS
  - repo: local
    hooks:
      - name: Format SCSS files
        id: prettier
        language: system
        entry: prettier --write
        types: [scss]

  # YAML
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - name: Validate YAML
        id: check-yaml
  - repo: local
    hooks:
      - name: Format YAML files
        id: prettier
        language: system
        entry: prettier --write
        types: [yaml]

  # TOML
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - name: Validate TOML
        id: check-toml
  - repo: local
    hooks:
      - name: Format TOML files
        id: taplo
        language: system
        entry: taplo format
        types: [toml]

  # GitHub Actions
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.28.2
    hooks:
      - name: Validate GitHub Actions workflow files
        id: check-github-workflows

  # Pre-commit
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.28.2
    hooks:
      - name: Validate Pre-commit config
        id: check-jsonschema
        files: ^.*\.pre-commit-config.yaml$
        args:
          [
            "--schemafile",
            "https://json.schemastore.org/pre-commit-config.json",
          ]

Replace devenv
  .envrc
  flake.lock
  flake.nix
Due: none

Simplify Nix use in CI
  .github/workflows/build-and-deploy.yaml
Due: prettier

Use the latest commit datetime as the last updated datetime of a project
  website/downloader.py
Due: ruff-format, ruff, mypy

Add dates and descriptions to boxes
  styles.scss
  website/__init__.py
Due: ruff-format, ruff, mypy, prettier

Update readme
  README.md
Due: none

Add manual CI trigger
  .github/workflows/build-and-deploy.yaml
Due: prettier

Pin version of Mona Sans font used
  website/downloader.py
Due: ruff-format, ruff, mypy

Upgrade GitHub actions
  .github/workflows/build-and-deploy.yaml
Due: prettier

Update gitignore
  .gitignore
Due: none

Upgrade nixpkgs
  flake.lock
  pyproject.toml
  website/__init__.py
  website/data.py
  website/downloader.py
  website/html.py
  website/utils.py
  website/xml.py
Due: ruff-format, ruff, mypy, taplo

Add netlify-cli to dev shell
  flake.nix
Due: none

Update pyproject.toml to remove Poetry config
  pyproject.toml
Due: taplo

Add missing version property
  pyproject.toml
Due: taplo

Switch to local pre-commit hooks
  .github/workflows/build-and-deploy.yaml
  .markdownlint.json
  .pre-commit-config.yaml
  Justfile
  flake.nix
  pyproject.toml
Due: prettier, taplo

Update Mastodon link
  website/downloader.py
Due: ruff-format, ruff, mypy

Simplify .envrc
  .envrc
Due: none

Replace mypy with basedpyright
  .pre-commit-config.yaml
  Justfile
  flake.nix
  pyproject.toml
  website/__init__.py
  website/__main__.py
  website/cli.py
  website/data.py
  website/downloader.py
  website/html.py
  website/utils.py
  website/xml.py
Due: ruff-format, ruff, mypy, prettier, taplo

Replace argparse by typer
  flake.nix
  website/__main__.py
  website/cli.py
Due: ruff-format, ruff, mypy

Fix links in converted markdown
  website/html.py
Due: ruff-format, ruff, mypy

Automatically source .env file in .envrc
  .envrc
Due: none

Remove unused ignore comment
  website/downloader.py
Due: ruff-format, ruff, mypy

Upgrade Nix flake
  flake.lock
Due: none

Simplify justfile
  .pre-commit-config.yaml
  Justfile
Due: prettier

Clean up Nix flake
  flake.nix
Due: none

Replace magic-nix-cache-action
  .github/workflows/build-and-deploy.yaml
Due: prettier

Replace dart-sass with grass-sass
  flake.nix
  website/sass.py
Due: ruff-format, ruff, mypy

Replace pre-commit with prek
  .github/workflows/build-and-deploy.yaml
  Justfile
  flake.nix
Due: prettier

Simplify flake inputs
  flake.nix
Due: none

Replace Netlify GitHub Action with CLI
  .github/workflows/build-and-deploy.yaml
Due: prettier

Fix layout on mobile
  styles.scss
Due: prettier

Build the site before modifying any files
  website/__main__.py
Due: ruff-format, ruff, mypy

Add offline mode to download script
  .github/workflows/build-and-deploy.yaml
  Justfile
  flake.nix
  website/__main__.py
  website/cli.py
  website/downloader.py
Due: ruff-format, ruff, mypy, prettier
